/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
@use '../common.scss' as *;

.wp-block-dj-block-stock-information  {
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

//@function aspect($width, $aspect) {
//  @return $width * $aspect; //9 / 16
//}
//
//@mixin maintain-ratio($ratio: 1 1) {
//  $width: 100%;
//  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
//
//  width: $width;
//  height: 0;
//  padding-bottom: $height !important;
//}
//
//.editor-block-list__block[data-type="dj/stock-information"] {
//
//  .placeholder-stock {
//    position: relative;
//    padding-bottom: 99%; /* 56.25%;*/ /* 16:9 */
//    height: 0;
//  }
//
//  .placeholder-stock div {
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    z-index: 100;
//  }
//
//}
//
//.editor-block-list__block[data-type="dj/stock-information"][data-align="left"] .placeholder-stock,
//.editor-block-list__block[data-type="dj/stock-information"][data-align="right"] .placeholder-stock {
//  height: 100% !important;
//  max-width: 300px;
//  width: 100%;
//}
//
//// ------------------------------------- Gutenberg Embed SCSS
//
//// Apply max-width to floated items that have no intrinsic width
//.editor-block-list__block[data-type="dj/stock-information"][data-align="left"] .editor-block-list__block-edit,
//.editor-block-list__block[data-type="dj/stock-information"][data-align="right"] .editor-block-list__block-edit,
//.wp-block-embed.alignleft,
//.wp-block-embed.alignright {
//  // Instagram widgets have a min-width of 326px, so go a bit beyond that.
//  max-width: 360px;
//  width: 100%;
//}
//
//.editor-block-list__block[data-type="dj/stock-information"][data-align="center"] .placeholder-stock div {
//  margin-left: -50%;
//  width: 100%;
//  height: 100% !important;
//  //border:1px dashed red;
//}
//
//
//
//.wp-block-embed {
//  // Supply caption styles to embeds, even if the theme hasn't opted in.
//  // Reason being: the new markup, figcaptions, are not likely to be styled in the majority of existing themes,
//  // so we supply the styles so as to not appear broken or unstyled in those.
//  figcaption {
//    //@include caption-style();
//  }
//  // The embed block is in a `figure` element, and many themes zero this out.
//  // This rule explicitly sets it, to ensure at least some bottom-margin in the flow.
//  margin-bottom: 1em;
//}
//
//.wp-embed-responsive {
//  .wp-block-embed {
//    // Add responsiveness to common aspect ratios.
//    &.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
//    &.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
//      position: relative;
//
//      &::before {
//        content: "";
//        display: block;
//        padding-top: 50%; // Default to 2:1 aspect ratio.
//      }
//
//      iframe {
//        position: absolute;
//        top: 0;
//        right: 0;
//        bottom: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//      }
//    }
//
//    &.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
//      padding-top: 42.85%; // 9 / 21 * 100
//    }
//
//    &.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
//      padding-top: 50%; // 9 / 18 * 100
//    }
//
//    &.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
//      padding-top: 56.25%; // 9 / 16 * 100
//    }
//
//    &.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
//      padding-top: 75%; // 3 / 4 * 100
//    }
//
//    &.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
//      padding-top: 100%; // 1 / 1 * 100
//    }
//
//    &.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
//      padding-top: 66.66%; // 6 / 9 * 100
//    }
//
//    &.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
//      padding-top: 200%; // 2 / 1 * 100
//    }
//  }
//
//  .wp-block-dj-stock-information.iframe_preview iframe {
//    min-height: 315px;
//  }
//}
//
//.editor-block-list__block[data-align="center"] figcaption .editor-rich-text__tinymce {
//  text-align: left;
//  color: #666;
//  font-size: 14px;
//  line-height: 20px;
//  line-height: 1.4em;
//}
//
//.editor-styles-wrapper figcaption,
//.editor-styles-wrapper .gallery-caption,
//.editor-styles-wrapper .mce-content-body
//.editor-styles-wrapper .editor-rich-text__tinymce {
//  font-size: 14px;
//  line-height: 20px;
//  color: #666;
//  text-align:left;
//}
//
//.media-sidebar .setting[data-setting="description"] { display: none; }
