/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
@use '../common.scss' as *;

.wp-block-dj-stock-information, .wp-block-dj-block-stock-information  {
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
